.landing-page {
    flex: 1;
}

.landing-flex-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */

    align-items: flex-start;
}

.landing-flex-container>h1 {
    max-width: 25rem;
}

.auth-links>p>span {
    text-decoration: underline;
    cursor: pointer;
}